body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
  font-size: 20px;
}

h1 {
  margin: 0 auto 0 auto;
  font-family: 'Parisienne', cursive;
  font-size: 3.75rem;
  color: white;
  padding-top: 20px;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 1.5rem;
  color: #66BFBF;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Raleway', sans-serif;
  color: #11999E;
}

a {
  color: #11999E;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}

a:hover {
  color: black;
}

p {
  line-height: 2;
}

hr {
  border: dotted;
  border-bottom: none;
  border-color: grey;
  border-width: 5px;
  width: 5%;
  margin: 60px auto 60px auto;
}

.intro {
  width: 30%;
  margin: auto;
}

.divtop {
  background-color: #78DEC7;
  position: relative;
  padding-top: 150px;
}

.divmid {
  margin: 50px 0;
}

.divbot {
  background-color: #78DEC7;
  padding: 40px 0 20px;
}

.footer-link {
  text-decoration: none;
  margin: 30px;
  color: white;
  font-size: 20px;
}

.h2 {
  font-weight: 900;
  color: black;
}

.top-bird {
  position: absolute;
  right: 300px;
  top: 0;
}

.img2 {
   display: none;
}

.bottom-bird {
  position: absolute;
  left: 300px;
  bottom: 250px;
}

.skill-row {
  width: 50%;
  margin: 80px auto 80px auto;
  text-align: left;
}

.copyright {
  padding: 20px 0 0;
}

.photo-skill {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.coding-skill {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.contact-msg {
  width: 37%;
  margin: 30px auto 20px;
}

.contact-button {
  margin: 40px auto 40px auto;
  background: #3D94F6;
  background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
  background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
  background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
  background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
  background-image: -webkit-gradient(to bottom, #3D94F6, #1E62D0);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: #FFFFFF;
  font-family: Georgia;
  font-size: 22px;
  font-weight: 100;
  padding: 18px;
  -webkit-box-shadow: 1px 1px 20px 0 #000000;
  -moz-box-shadow: 1px 1px 20px 0 #000000;
  box-shadow: 1px 1px 20px 0 #000000;
  text-shadow: 1px 1px 20px #000000;
  border: solid #337FED 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.contact-button:hover {
  border: solid #337FED 1px;
  background: #1E62D0;
  background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-decoration: none;
}

@media (max-width: 1024px) {
  .top-bird {
    position: absolute;
    right: 0;
    top: 0;
  }

  .bottom-bird {
    position: absolute;
    left: 0;
    top: 0;
  }

  .divtop {
    padding-top: 0;
  }

  .h2 {
    font-size: 0.75rem;
  }

  .img1{
     display: none;
   }

   .img2{
     display: block;
   }

   .img2 {
     width: 100%;
   }
  
  .copyright {
     font-size: 0.875rem;
   }
}
